
<footer>
    <div class="wrap">
        <h1>Let`s get in touch and create beautiful things together</h1>
        <div>Contact Me</div>
    </div>
    
    <div class="gallery">
        
        <div class="blocks">
            <img src="../img/pic1.jpg" alt="">
        </div>
        <div class="blocks">
            <img src="../img/pic2.jpg" alt="">
        </div>
        <div class="blocks">
            <img src="../img/pic3.jpg" alt="">
        </div>
        <div class="blocks">
            <img src="../img/pic4.jpg" alt="">
        </div>
        <div class="blocks">
            <img src="../img/pic5.jpg" alt="">
        </div>
        <div class="blocks">
            <img src="../img/pic6.jpg" alt="">
        </div>
    </div>
    <p>Copyright &copy; 2019 - Kristina Chausheva - All rights reserved</p> 
</footer>